@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@400;700&display=swap');

body {
   margin: 0;
   font-family: 'Fira Sans Condensed', sans-serif;
   background: #efefef;
}

svg {
   overflow: visible;
   margin-left: 100px;
}

h1, p {
   margin: 0;
}

.chart-outer, .chart {
   width: 1100px;
   margin-bottom: 1rem;
   background: #fff;
}

.chart-outer {
   margin: 1rem auto;
   padding: 0.75rem 0;
   border-radius: 10px;
   box-shadow: 3px 3px 20px #adadad98;
}

.title-container {
   margin-top: 0.5rem;
   margin-bottom: 2rem;
   text-align: center;
}

.title {
   margin-bottom: 0.5rem;
}

.tooltip {
   padding: 0.5rem 0.75rem;
   font-size: 0.75rem;
   background: #f3f3bad9;
   border-radius: 3px;
   box-shadow: 1px 1px 10px #949393ab;
}